.cuerpo__productos{
    background-color: #d2d0c8;
}

.Todos-productos{
    display: flex;
    flex-direction: column;
    padding: 50px 160px 10px;
}

.agregar-producto{
    padding: 10px;
    background-color: #84c4bc5e;
    transition: .3s all;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    border: inset #fffbfb;
}

.agregar-producto:hover{
    background-color: #84c4bd8e;
    transform: scale(1.07);
}

.agregar-producto:active{
    transform: scale(0.9);
}

.sub-titulo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    color: #383838;
}

.sub-titulo__1{
    font-size: 2rem;
}

.productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto{
    transition: .2s all;
    margin-bottom: 2rem;
    position: relative;

}

.producto:hover {
    transform: scale(1.05);
}

.imagen__producto{
    border: solid;
    box-shadow: 7px -2px 12px 0px #3d3d3d;  
}

.nombre__producto{
    font-size: 0.96rem
}

.precio__producto{
    margin: 10px 0;
    font-size: 0.96rem
}

.número__producto{
    font-size: 0.96rem;
}

.producto__iconos{
    position: absolute;
    top: 5px;
    left: 145px;
}

.producto__imagen__eliminar{
    margin: 5px 12px 5px 5px;
    cursor: pointer;
}

.producto__imagen__editar{
    margin: 5px;
    cursor: pointer;
}

/* TABLET */

@media (max-width: 768px) {

    .Todos-productos{
        padding: 50px 75px 10px;
    }

    .sub-titulo__1{
        font-size: 2.5rem;
    }
    
    .agregar-producto{
        width: 14rem;
        height: 4rem;
        font-size: 1.5rem;
    }
    
    .imagen__producto{
        height: 16.5rem;
    }

    .producto:last-child {
        margin-right: 35.7rem;
    }

    .producto__iconos{
        left: 150px;
    }

    .producto__imagen__eliminar {
        margin: 5px 32px 5px 5px;
        height: 2rem;
    }

    .producto__imagen__editar {
        height: 2rem;
    }

    .nombre__producto{
        font-size: 1.75rem;
        margin-top: 10px;
    }
    
    .precio__producto{
        font-size: 1.95rem;
    }

    .número__producto{
        font-size: 1.85rem;
    }

}

/* MOBILE */

@media (max-width: 426px) {

    .Productos__star-wars {
        padding: 50px 100px 10px 70px;
    }

    .productos {
        flex-wrap: wrap;
    }

    .sub-titulo{
        flex-direction: column;
        padding-bottom: 4rem;
    }

    .sub-titulo__1{
        font-size: 6rem;
        margin: 5rem 0 3.5rem 0;
    }

    .agregar-producto{
        width: 30rem;
        height: 8rem;
        font-size: 3rem;
    }

    .producto {
        margin-bottom: 4rem;
    }

    .imagen__producto {
        height: 34.5rem;
        width: 33rem;
    }

    .nombre__producto {
        font-size: 3.4rem;
        margin-top: 10px;
    }

    .precio__producto {
        font-size: 3.6rem;
        margin: 20px 0 20px 0;
    }

    .número__producto {
        font-size: 3.5rem;
    }

    .producto__iconos{
        left: 300px;
        top: 30px;
    }

    .producto__imagen__eliminar{
        margin: 5px 70px 5px 5px;
        height: 4rem;
    }

    .producto__imagen__editar{
        height: 4rem;
    }

    .producto:last-child {
        margin-right: 0;
    }

}