.Diversos {
    display: flex;
    flex-direction: column;
    padding: 50px 160px 50px 160px;
}

.enlace__ver-todo{
    font-weight: bold;
}

.sub-titulo{
    padding-bottom: 15px;
    justify-content: space-between;
}

.productos{
    display: flex;
    justify-content: space-between;
}

/* TABLET */

@media (max-width: 768px) {

    .Diversos{
        padding: 50px 75px 80px;
    }
}

/* MOBILE */

@media (max-width: 426px) {

    .Diversos {
        padding: 50px 100px 10px 70px;
    }
}